# macOS
.DS_Store

# Xcode build artifacts
build/
DerivedData/
DerivedData-*/
*.app
*.xcresult
xcodebuild.log
/auto.crt
/auto.key

# Xcode user-specific state
xcuserdata/
*.xcuserstate
*.xcuserdatad
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/

# Misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
